# bitcoin.conf for Bitcoin Cash Node (Chipnet)
server={{ chipnet_config.server }}
rpcuser={{ chipnet_config.rpcuser }}
rpcpassword={{ chipnet_config.rpcpassword }}
rpcallowip=127.0.0.1
chipnet=1
prune=0  # Disable pruning for Fulcrum
txindex=1  # Required for Fulcrum

[chipnet]
rpcport={{ chipnet_config.rpcport }}
port={{ chipnet_config.p2pport }}
onion={{ chipnet_config.onionport }}
zmqpubrawblock={{ chipnet_config.zmqpubrawblock }}
zmqpubrawtx={{ chipnet_config.zmqpubrawtx }}
