[Unit]
Description=Bitcoin Cash Node Daemon (Mainnet)
After=network.target

[Service]
Type=simple
User={{ bchn_user }}
Group={{ bchn_user }}
ExecStart=/usr/local/bin/bitcoind -conf={{ bchn_mainnet_config_file }} -datadir={{ bchn_mainnet_data_dir }}
ExecStop=/usr/local/bin/bitcoin-cli -conf={{ bchn_mainnet_config_file }} -datadir={{ bchn_mainnet_data_dir }} stop
Restart=on-failure
RestartSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
