[Unit]
Description=Bitcoin Cash Node daemon (Tempnet)
After=network.target

[Service]
ExecStart=/usr/local/bin/bitcoind -conf={{ bchn_tempnet_config_file }}
ExecStop=/usr/local/bin/bitcoin-cli -conf={{ bchn_tempnet_config_file }} stop
User={{ bchn_user }}
Group={{ bchn_user }}
Type=simple
Restart=always
TimeoutSec=300
RestartSec=30
StandardOutput=journal
StandardError=journal

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target