# bitcoin.conf for Bitcoin Cash Node (Tempnet)
server={{ tempnet_config.server }}
rpcuser={{ tempnet_config.rpcuser }}
rpcpassword={{ tempnet_config.rpcpassword }}
rpcallowip=127.0.0.1
tempnet=1  # Enables tempnet mode
txindex=1  # Optional: useful for testing/demos, as in forum

[temp]
rpcport={{ tempnet_config.rpcport }}
port={{ tempnet_config.p2pport }}
onion={{ tempnet_config.onionport }}
zmqpubrawblock={{ tempnet_config.zmqpubrawblock }}
zmqpubrawtx={{ tempnet_config.zmqpubrawtx }}