---
extends: default

rules:
  # Keep CI strict, but practical
  line-length:
    max: 80
    level: error

  # Require '---' (matches your warnings)
  document-start:
    present: true

  # Enforce true/false, not yes/no
  truthy:
    allowed-values: ["true", "false"]
    check-keys: true

  comments:
    min-spaces-from-content: 1
