datadir = {{ tempnet_fulcrum_config.datadir }}
bitcoincash = {{ tempnet_fulcrum_config.bitcoincash }}
chipnet = {{ tempnet_fulcrum_config.chipnet }}
bitcoind = {{ tempnet_fulcrum_config.rpc }}
rpcuser = {{ tempnet_fulcrum_config.rpcuser }}
rpcpassword = {{ tempnet_fulcrum_config.rpcpassword }}
zmq = {{ tempnet_fulcrum_config.zmq }}
tcp = {{ tempnet_fulcrum_config.tcp }}
ssl = {{ tempnet_fulcrum_config.ssl }}  # New line for SSL
wss = {{ tempnet_fulcrum_config.wss }}
cert = {{ tempnet_fulcrum_config.cert }}
key = {{ tempnet_fulcrum_config.key }}
adminrpc = {{ tempnet_fulcrum_config.adminrpc }}