datadir = {{ chipnet_fulcrum_config.datadir }}
bitcoincash = {{ chipnet_fulcrum_config.bitcoincash }}
chipnet = {{ chipnet_fulcrum_config.chipnet }}
bitcoind = {{ chipnet_fulcrum_config.rpc }}
rpcuser = {{ chipnet_fulcrum_config.rpcuser }}
rpcpassword = {{ chipnet_fulcrum_config.rpcpassword }}
zmq = {{ chipnet_fulcrum_config.zmq }}
tcp = {{ chipnet_fulcrum_config.tcp }}
ssl = {{ chipnet_fulcrum_config.ssl }}  # New line for SSL
wss = {{ chipnet_fulcrum_config.wss }}
cert = {{ chipnet_fulcrum_config.cert }}
key = {{ chipnet_fulcrum_config.key }}
adminrpc = {{ chipnet_fulcrum_config.adminrpc }}