[Unit]
Description=Fulcrum (Mainnet) Electrum Server
After=network-online.target bitcoind-mainnet.service
Wants=network-online.target

[Service]
Type=simple
User={{ fulcrum_user }}
Group={{ fulcrum_group }}

ExecStart=/usr/local/bin/Fulcrum {{ fulcrum_mainnet_config_file }}
Restart=always
RestartSec=30
TimeoutSec=300

StandardOutput=journal
StandardError=journal

PrivateTmp=true
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
MemoryDenyWriteExecute=true

ReadWritePaths={{ fulcrum_mainnet_data_dir }} /etc/fulcrum
ReadOnlyPaths=/etc/ssl/certs /etc/ssl/private

[Install]
WantedBy=multi-user.target
